body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: url('/images/rectangle-92.png') no-repeat center center fixed;
    background-size: cover; */
    color: white;
}



*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #fff;
}

.nav-logo img {
    height: 120px;
    width: 150px;
    font-weight: bold;
    margin-left: 80px;
}

.navbar-menu-icon {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.navbar-menu-icon input {
    display: none;
}

.navbar-menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    right: 5%;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.navbar-menu-icon span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.navbar-menu-icon span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.navbar-menu-icon span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.navbar-menu-icon input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.navbar-menu-icon input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.navbar-menu-icon input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-right: 270px;

}

.nav-list li {
    margin: 0 25px;
}

.nav-list a {
    color: black;
    text-decoration: none;
    font-size: 1.07rem;
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal;
}

.nav-list .list-item::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    margin-top: 1px;
    right: 0;
    background: #000;
    transition: width 0.4s ease;
}

.nav-list .list-item:hover::after {
    width: 100%;
    left: 0;
    background: #000;
}

.nav-buttons {
    position: absolute;
    right: 0%;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}

.nav-library-btn {
    padding: 12px 28px;
    border-radius: 50px;
    background-color: #60c4a0;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid black;
    box-shadow: #777;
    letter-spacing: 0.5px;
}

.nav-signin-btn {
    padding: 12px 30px;
    border-radius: 50px;
    background-color: #d4b036;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid black;
    box-shadow: #777;
    letter-spacing: 0.8px;
    transition: all 0.3s ease-in;
}

.nav-library-btn:hover {
    background-color: #000;
    color: rgb(163, 204, 82);
    font-size: 0.88rem;
    padding: 12px 28px;
}

.nav-signin-btn:hover {
    background-color: #000;
    color: #4cbb92;
    /* padding: 11.5px 29px;
    font-size: 0.88rem; */
}

.hover-items-hide {
    display: none;
}

.nav-hover-items {
    width: 210px;
    height: 270px;
    background: transparent;
    position: absolute;
    z-index: 9;
    margin-left: 350px;
    transition: linear 0.5s ease-in-out;
}

ul {
    list-style: none;
}

.nav-items {
    margin-left: 30px;
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 0.5rem;
    z-index: 9;
    background-color: #fff;
    width: 180px;
    height: 250px;
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal;
    transition: all 5s ease-in-out;
}

.nav-items .nav-list-item {
    font-size: 1.1rem;
}

.nav-list-item:hover {
    color: #964040;
}

.membership-hero{
    width: 100vw;
    height: 100vh;
     background: url('/images/rectangle-92.png') no-repeat center center fixed;
    background-size: cover; 
}

.membership-hero-1 {
    text-align: center;
    padding: 100px 20px;
    width: 60%;
    margin: auto;
}

.membership-hero-1 h1 {
    font-size: 2.3rem;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    line-height: 60px;
}

.membership-options {
    display: inline-block;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
}

.membership-button {
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: black;
    background-color: #f0f0f0;
}
.membership-student {
    background-color: #f0f0f0;
    color: black;
}

.membership-professional {
    background-color: #000;
    color: white;
}


.membership-box-effect{
    width: 100vw;
    height: 100vh;
    background-color: #e4dddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membership-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.membership-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(circle, #3f51b5, #283593); /* Blue gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate-2 20s infinite linear;
}
.membership-circle-1{
   width: 90px;
    height: 90px;
    border-radius: 10%;
    background: radial-gradient(circle, #3f51b5, #283593); /* Blue gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 31%;
    left: 31%;
    transform: translate(-20%, -20%);
     /* animation: moveInCircle 20s infinite linear; */
}

.membership-orbit{
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rotate-2 20s infinite linear;
}
@keyframes rotate-2 {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.membership-circle-1{
    width: 120px;
    height: 120px;
    background-color: #303f9f;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    left: 200px;
}

.membership-circle-2{
  top: 50px;
  left: 50px;
 }
 .membership-circle-3{
  top: 210px;
  left: -20px;
 }
 .membership-circle-4{
   top: 380px;
   left: 50px;
 }
 .membership-circle-5{
    top: 450px;
    left: 220px;
 }
 .membership-circle-6{
   top: 380px;
   left: 380px;
 }
 .membership-circle-7{
    top: 210px;
    left: 440px;
  }
  .membership-circle-8{
    top: 40px;
    left: 370px;
  }


.membership-circle,.membership-circle-1,.membership-circle-2,.membership-circle-3,.membership-circle-4,.membership-circle-5,.membership-circle-6,.membership-circle-7,.membership-circle-8 p {
    color: white;
    font-weight: bold;
    text-align: center;
}

.membership-arrow-orbit{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate-2 20s infinite linear;
}

.membership-arrow {
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #303f9f; 
    transform-origin: 100% 50%; 
}


.membership-arrow::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #303f9f; 
}

.membership-arrow.top {
    top: -70px;
    left: -10%;
    transform: translateX(-15%);
    rotate: 270deg;
}

.membership-arrow.right {
    top: 50%;
    right: -82px;
    transform: translateX(-33%) rotate(0deg);
}

.membership-arrow.bottom {
    bottom: -62px;
    left: 50%;
    transform: translateX(-95%) rotate(90deg);
}

.membership-arrow.left {
    top: 50%;
    left: -80px;
    transform: translateX(-66%) rotate(-180deg);
}

.membership-arrow.top-left {
    top: -29px;
    left: -85px;
    transform: rotate(225deg);
}

.membership-arrow.top-right {
    top: -31px;
    right: -27px;
    transform: rotate(-45deg);
}

.membership-arrow.bottom-left {
    bottom: -32px;
    left: -86px;
    transform: rotate(130deg);
}

.membership-arrow.bottom-right {
    bottom: -28px;
    right: -30px;
    transform: rotate(45deg);
}



.footer-section {
    width: 100vw;
    height: 60vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .footer-text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .footer-logo-text-section {
   margin-left: 50px;
  }
  
  .footer-content .footer-link {
    color: #d4b036;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 15px;
  }
  
  .footer-heading h2 {
    color: #fff;
    font-size: 30px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
      "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  }
  
  .footer-heading input {
    height: 40px;
    width: 350px;
    padding: 5px;
  }
  
  .footer-heading .footer-btn {
    width: 120px;
    height: 35px;
    border-radius: 50px;
    background-color: #60c4a0;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .footer-btn:hover {
    background-color: #141414;
    color: #fff;
    border: 2px solid rgb(3, 43, 3);
  }
  
  
  .footer-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: #e4dddd;
  }
  
  .footer-icons i {
    font-size: 35px;
  }
  
  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-text h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;

  }
  
  .footer-text p {
    font-size: 15px;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 10px;
  }
  
  .copyright {
    color: white;
    background-color: #000;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    padding-bottom: 10px;
    margin: 0;
  }
  
  .footer-texts p {
    margin-right: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tag {
    font-size: 1rem;
    color: #cea51e;
    background-color: #000;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-bottom: 10px;
    display: none;
  }